@use "../../styles/variables.scss" as *;

.backlinks {
  flex-direction: column;

  &.collapsed {
    & > .sidebar-panel-content {
      display: none;
    }

    & > .sidebar-panel-header .fold {
      transform: rotate(-90deg);
    }
  }

  & > .sidebar-panel-header {
    background: transparent;
    border: none;
    color: var(--dark);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    text-align: left;
    width: fit-content;

    & > h3 {
      font-size: 1rem;
      margin: 0;
    }

    & > .fold {
      margin-left: 0.5rem;
      opacity: 0.8;
      transition: transform 0.3s ease;
    }
  }

  & > ul.overflow {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    max-height: calc(100% - 2rem);
    overscroll-behavior: contain;

    & > li {
      line-height: 1.2rem;

      & + li {
        margin-top: 0.35rem;
      }

      & > a {
        background-color: transparent;
        display: block;
        line-height: 1.2rem;
      }
    }
  }
}
