@use "../../styles/variables.scss" as *;

.toc {
  --toc-panel-height: 24rem;
  --toc-header-height: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  max-height: var(--toc-panel-height);
  flex: 0 0 auto;

  &.collapsed {
    & > .sidebar-panel-content {
      display: none;
    }

    & > .sidebar-panel-header .fold {
      transform: rotate(-90deg);
    }
  }
}

.toc-header {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--dark);
  display: flex;
  align-items: center;
  height: var(--toc-header-height);
  min-height: var(--toc-header-height);
  flex: 0 0 var(--toc-header-height);
  text-align: left;
  width: fit-content;

  & h3 {
    font-size: 1rem;
    display: inline-block;
    margin: 0;
  }

  & .fold {
    margin-left: 0.5rem;
    opacity: 0.8;
    transition: transform 0.3s ease;
  }
}

ul.toc-content.overflow {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  max-height: calc(var(--toc-panel-height) - var(--toc-header-height) - 0.5rem);
  flex: 0 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  scrollbar-gutter: stable;
  list-style: none;

  & > li > a {
    color: var(--dark);
    opacity: 0.35;
    display: block;
    line-height: 1.2rem;
    transition:
      0.5s ease opacity,
      0.3s ease color;
    &.in-view {
      opacity: 0.75;
    }
  }

  & > li + li {
    margin-top: 0.35rem;
  }

  @for $i from 0 through 6 {
    & .depth-#{$i} {
      padding-left: calc(1rem * #{$i});
    }
  }
}
